silent treatment  exploiting insecurities ye karung vo karungi daran dhamkana  embarrising bejjati karna najromai girana dusaro se compair karan  making u felt guilty for no mistakes ultimatems mai ja rahi hoo chodake, isase shadi karunga 