
*{
    font-size: 100px;
}
#box1{
  
   width: 100vw;
   background-color: green;
   font-size: 10px;
   height: 100vh;
}

#box2{
  margin-top: 10px;
  background-color: rgb(189, 26, 26);
  margin-left: 70%;
  
}