* {
    box-sizing: border-box;
  }
  
  .box {
    display: inline-block;
    width: 500px;
    height: 500px;
    background: rgb(255, 255, 255);
    color: white;
    border: solid black;
    position: relative;
  }
  
 #ig{
   width: 300px;
   position: absolute;
   right: 100px;
   bottom: 200px;
 }